* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}

.form-wrapper {
    margin: 50px auto;
    width: 70%;
    border-radius: 10px;
    background-color: darkcyan;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.form-inp {
    width:47%;
    padding: 15px 20px;
    background-color: #ffff;
    border-radius: 8px;
}
.form-time {
    width: 25%;
    padding: 7px 20px;
    border-radius: 8px;
}
.form-btn {
    padding: 10px 20px;
    width: 20%;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    text-align: center;
}

.list {
    margin: 0;
    padding-left: 0;
    padding: 10px 20px;
    list-style: none;
    justify-content: space-between;
    color:#fff;
}
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px 20px;
    border: 1px solid;
    border-radius: 8px;
}
.title {
    margin: 0;
}
.time {
    margin: 0;
}

@media  only screen and (max-width:680px) {
    .form-wrapper {
        width: 96%;
    }
}
@media  only screen and (max-width:500px) {
    .form-wrapper {
        width: 100%;
    }
    .form {
        padding: 10px;
    }
    .form-inp {
        width: 41%;
        padding: 9px;
    }
    .form-time {
        padding: 5px;
        width: 26%;
    }
    .form-btn {
        padding: 9px 3px;
        width: 20%;
        font-size: 13px;
    }
    .list {
        padding: 10px;
    }
}